@{
    ViewBag.Title = "Home Page";
}

<br />

<div class="jumbotron">
    <h1>USchedule</h1>
    <p>Управляйте своими делами!</p>
</div>

<div class="row">
    <center>
    <div class="col-xs-6 col-md-3">
        <a href="@Url.Action("Index", "Calendars")" class="thumbnail">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Календарь
        </a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="@Url.Action("Index", "Tasks")" class="thumbnail">
            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Задания
        </a>
    </div>
    <div class="col-xs-6 col-md-2">
        <a href="@Url.Action("Index", "Tags")" class="thumbnail">
            <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Тэги
        </a>
    </div>
        <div class="col-xs-6 col-md-2">
            <a href="@Url.Action("Events", "Reports")" class="thumbnail">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Отчёты
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="@Url.Action("Index", "Users")" class="thumbnail">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Аккаунт
            </a>
        </div>
    </center>
</div>